{% extends 'layout.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-12">
	<div class="card card-default">
    <div class="card-header justify-content-between">
        <h2>Cantidad de Solicitudes</h2>

    <div class="col-2">

    <input type="hidden" id="anno" value="{{ anno }}" />
    <div class="input-group mt-0 mr-1">      
        <div class="input-group-append">
            <div class="input-group-text">
                  <span class="fas fa-calendar"></span>
            </div>
        </div>
        <input type="text" id="date" class="form-control">
    </div>

    </div>
    </div>



		<div class="card-body" style="height: 350px;">
			<canvas id="chart1" style="display: block; width: 938px; height: 240px;" width="938" height="240" class="chartjs-render-monitor">Loading...</canvas>
		</div>
	</div>
  </div>

{# ----------------------------------------------------------------------------------------- #}
  <div class="col-6">
  <div class="card card-default">
    <div class="card-header">
        <h2>Cantidad de Evaluaciones por Resultado</h2>
    </div>
    <div class="card-body" style="height: 350px;">
      <canvas id="chart2" style="display: block; width: 938px; height: 240px;" width="938" height="240" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
  </div>

  <div class="col-6">
  <div class="card card-default">
    <div class="card-header">
        <h2>Cantidad Solicitudes por Estado</h2>
    </div>
    <div class="card-body" style="height: 350px;">
      <canvas id="chart3" style="display: block; width: 938px; height: 240px;" width="938" height="240" class="chartjs-render-monitor"></canvas>
    </div>
  </div>
  </div>


{% if not is_granted('ROLE_EVALUADOR') %}

{# ----------------------------------------------------------------------------------------- #}

<div class="col-6">
  <div class="card card-default">
    <div class="card-header">
        <h2>Cantidad por Evaluador</h2>
            </div>
    <div class="card-body">
      <table class="table ">
      <thead>
        <tr>
            <td>Evaluador</td>
            <td class="text-center">Total</td>
            <td class="text-center">Evaluadas</td>
            <td class="text-center">Pendientes</td>
        </tr>
      </thead>
        <tbody>

          {% if cant_x_evaluadores[0] %}
            {% for key, evaluador in cant_x_evaluadores[0] %}
            <tr>
              <td>{{ evaluador }}</td>
              <td class="text-center">{{ cant_x_evaluadores[1][key] }}</td>
              <td class="text-center">{{ cant_x_evaluadores[2][key] }}</td>
              <td class="text-center">{{ cant_x_evaluadores[3][key] }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="4" class="text-center">No hay datos para mostrar...</td>
            </tr>
          {% endif %}


        </tbody>
      </table>
  </div>
  </div>

</div>

{# ----------------------------------------------------------------------------------------- #}

<div class="col-6">
  <div class="card card-default">
    <div class="card-header">
        <h2>Cantidad por Solicitante</h2>
            </div>
    <div class="card-body">
      <table class="table ">
      <thead>
        <tr>
            <td>Evaluador</td>
            <td class="text-center">Total</td>
            <td class="text-center">Evaluadas</td>
            <td class="text-center">Pendientes</td>
        </tr>
      </thead>
        <tbody>

        {% if cant_x_solicitantes[0] %}
          {% for key, solicitante in cant_x_solicitantes[0] %}
          <tr>
            <td>{{ solicitante }}</td>
            <td class="text-center">{{ cant_x_solicitantes[1][key] }}</td>
            <td class="text-center">{{ cant_x_solicitantes[2][key] }}</td>
            <td class="text-center">{{ cant_x_solicitantes[3][key] }}</td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4" class="text-center">No hay datos para mostrar...</td>
          </tr>
        {% endif %}

        </tbody>
      </table>
  </div>
  </div>

</div>

{% endif %}



{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        $(document).ready(function() {


            $('#dataTable').dataTable({
                          deferRender: true, //Opcion que permite una mayor velocidad de inicializacion(disponible desde la version 1.10)
            language: {
                paginate: {
                    first: "<<",
                    previous: "<",
                    next: ">",
                    last: ">>"
                },
                sLengthMenu: "Mostrar _MENU_ registros",
                sInfo: "Mostrando _START_ al _END_ de _TOTAL_ elementos",
                sInfoEmpty: "No hay datos para mostrar",
                sEmptyTable: "No hay datos para mostrar",
                sInfoFiltered: "(filtrado de _MAX_ elementos en total)",
                sLoadingRecords: "Cargando...",
                sProcessing: "Procesando...",
                sSearch: "Buscar:",
                sZeroRecords: "No se encontraron resultados"
            },
            processing: true,
            });

            select_menu('dashboard_menu');

            {# ------------------------------------------------------------------------------------------ #}

            $("#date").datetimepicker({
              locale: "es",
              format: "YYYY"
            });

            $("#date").val($('#anno').val());

            $("#date").datetimepicker().on("dp.change", function(ev) {
                var fecha = $("#date").val();

                route = Routing.generate("cantidad_anno", { anno: fecha });
                $.get(route, function(data) {
                  chart1(data)
                });

            });

            var fecha = $("#date").val();

            route = Routing.generate("cantidad_anno", { anno: fecha });
            $.get(route, function(data) {
              chart1(data)
            });

            function chart1(data) {

            $('#chart1').replaceWith('<canvas id="chart1" style="display: block; width: 938px; height: 240px;" width="938" height="240" class="chartjs-render-monitor"></canvas>');


            var bar1 = document.getElementById("chart1");


              var myChart = new Chart(bar1, {
                type: "line",
                data: {
                  labels: ["Ene", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                  datasets: [
                    {
                      label: "",
                      data: data,
                      backgroundColor: "transparent",
                      borderColor: "rgb(82, 136, 255)",
                      lineTension: 0.3,
                      pointRadius: 5,
                      pointBackgroundColor: "rgba(255,255,255,1)",
                      pointHoverBackgroundColor: "rgba(255,255,255,1)",
                      pointBorderWidth: 2,
                      pointHoverRadius: 8,
                      pointHoverBorderWidth: 1
                    }
                  ]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  legend: {
                    display: false
                  },
                  layout: {
                    padding: {
                      right: 10
                    }
                  },
                  scales: {
                    xAxes: [
                      {
                        gridLines: {
                          display: false
                        }
                      }
                    ],
                    yAxes: [
                      {
                        gridLines: {
                          display: true,
                          color: "#eee",
                          zeroLineColor: "#eee",
                        },
                        ticks: {
                          display: true,
                          beginAtZero: true
                        }
                      }
                    ]
                  },
                  tooltips: {
                    callbacks: {
                      title: function(tooltipItem, data) {
                        return data["labels"][tooltipItem[0]["index"]];
                      },
                      label: function(tooltipItem, data) {
                        return data["datasets"][0]["data"][tooltipItem["index"]];
                      }
                    },
                    responsive: true,
                    intersect: false,
                    enabled: true,
                    titleFontColor: "#888",
                    bodyFontColor: "#555",
                    titleFontSize: 12,
                    bodyFontSize: 18,
                    backgroundColor: "rgba(256,256,256,0.95)",
                    xPadding: 20,
                    yPadding: 10,
                    displayColors: false,
                    borderColor: "rgba(220, 220, 220, 0.9)",
                    borderWidth: 2,
                    caretSize: 10,
                    caretPadding: 15
                  }

                }
              });

        }


            {# ----------------------------------------------------------------------------------------- #}


            route = Routing.generate("cantidad_x_resultado");
            $.get(route, function(data) {
              var barX = document.getElementById("chart2");
              if (barX !== null) {
                var myChart = new Chart(barX, {
                  type: "bar",
                  data: {
                    labels: data.resultados,
                    datasets: [
                      {
                        label: "Cantidad",
                        data: data.cant,
                        // data: [2, 3.2, 1.8, 2.1, 1.5, 3.5, 4, 2.3, 2.9, 4.5, 1.8, 3.4, 2.8],
                        backgroundColor: "#4c84ff"
                      }
                    ]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                      display: false
                    },
                    scales: {
                      xAxes: [
                        {
                          gridLines: {
                            drawBorder: false,
                            display: false
                          },
                          ticks: {
                            display: true, // hide main x-axis line
                            beginAtZero: true
                          },
                          barPercentage: 1.8,
                          categoryPercentage: 0.2
                        }
                      ],
                      yAxes: [
                        {
                          gridLines: {
                            drawBorder: false, // hide main y-axis line
                            display: true
                          },
                          ticks: {
                            display: true,
                            beginAtZero: true
                          }
                        }
                      ]
                    },
                    tooltips: {
                      titleFontColor: "#888",
                      bodyFontColor: "#555",
                      titleFontSize: 12,
                      bodyFontSize: 15,
                      backgroundColor: "rgba(256,256,256,0.95)",
                      displayColors: false,
                      borderColor: "rgba(220, 220, 220, 0.9)",
                      borderWidth: 2
                    }
                  }
                });
              }
            });


            {# ----------------------------------------------------------------------------------------- #}

            route = Routing.generate("cantidad_x_estado");
            $.get(route, function(data) {

              var doughnut = document.getElementById("chart3");
              if (doughnut !== null) {
                var myDoughnutChart = new Chart(doughnut, {
                type: "doughnut",
                data: {
                  labels: data.estados,
                  datasets: [
                    {
                      label: ["Nuevo", "Evaluado", "No Procede"],
                      data: data.cant,
                      backgroundColor: ["#4c84ff", "#29cc97", "#fe5461"],
                      borderWidth: 1
                      // borderColor: ['#4c84ff','#29cc97','#8061ef','#fec402']
                      // hoverBorderColor: ['#4c84ff', '#29cc97', '#8061ef', '#fec402']
                    }
                  ]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  legend: {
                    display: false
                  },
                  cutoutPercentage: 75,
                  tooltips: {
                    callbacks: {
                      title: function(tooltipItem, data) {
                        return data["labels"][tooltipItem[0]["index"]];
                      },
                      label: function(tooltipItem, data) {
                        return 'Cantidad: ' + data["datasets"][0]["data"][tooltipItem["index"]];
                      }
                    },
                    titleFontColor: "#888",
                    bodyFontColor: "#555",
                    titleFontSize: 12,
                    bodyFontSize: 14,
                    backgroundColor: "rgba(256,256,256,0.95)",
                    displayColors: true,
                    borderColor: "rgba(220, 220, 220, 0.9)",
                    borderWidth: 2
                  }
                }
              });
              }
            });












































        });

    </script>

{% endblock %}